{{>layout/header}}

    <!--? Hero Area Start-->
    <div class="slider-area hero-bg2 hero-overly">
        <div class="single-slider hero-overly  slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <!-- Hero Caption -->
                        <div class="hero__caption hero__caption2 pt-200">
                            <h1>Explore what you are finding</h1>
                        </div>
                        <!--Hero form -->
                        <form action="#" class="search-box mb-100">
                            <div class="input-form">
                                <input type="text" placeholder="What are you finding?">
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">In where?</option>
                                        <option value="">Catagories One</option>
                                        <option value="">Catagories Two</option>
                                        <option value="">Catagories Three</option>
                                        <option value="">Catagories Four</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-form">
                                <a href="#"><i class="ti-search"></i> Search</a>
                            </div>	
                        </form>	
                    </div>
                </div>
            </div>
        </div>
    </div>
   


  <!-- listing Area Start -->
  <div class="listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!--? Left content -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                            <h4>Advanced Filter</h4>
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing start -->
                <div class="category-listing mb-50">
                    <!-- single one -->
                    <div class="single-listing">
                        <!-- Select City items start -->
                        <div class="select-job-items2">
                            <select name="select2">
                                <option value="">상품명</option>
                                <option value="">Dhaka</option>
                                <option value="">india</option>
                                <option value="">UK</option>
                                <option value="">US</option>
                                <option value="">Pakistan</option>
                            </select>
                        </div>
                        <!--  Select City items End-->
                        <!-- Select State items start -->
                        <div class="select-job-items2">
                            <select name="select2">
                                <option value="">브랜드</option>
                                <option value="">Dhaka</option>
                                <option value="">Mirpur</option>
                                <option value="">Danmondi</option>
                                <option value="">Rampura</option>
                                <option value="">Htizill</option>
                            </select>
                        </div>
                        <!--  Select State items End-->
                        <!-- Select km items start -->
                        <div class="select-job-items2">
                            <select name="select2">
                                <option value="">카테고리</option>
                                <option value="">2 km</option>
                                <option value="">3 km</option>
                                <option value="">4 km</option>
                                <option value="">5 km</option>
                                <option value="">6 km</option>
                            </select>
                        </div>
                        <!--  Select km items End-->
                        <!-- select-Categories start -->
                        <div class="select-Categories pt-80 pb-30">
                            <div class="small-section-tittle2 mb-20">
                                <h4>Price range</h4>
                            </div>
                            <label class="container">$50 - $150
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">$150 - $300
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">$300 - $500
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">$500 - $1000
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">$1000 - Above
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <!-- select-Categories End -->
                        <!-- select-Categories start -->
                        <div class="select-Categories">
                            <div class="small-section-tittle2 mb-20">
                                <h4>Tags</h4>
                            </div>
                            <label class="container">Wireless Internet
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Accepts Credit Cards
                                <input type="checkbox" checked="checked active">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Smoking Allowed
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Parking Street
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Coupons
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <!-- select-Categories End -->
                    </div>
                </div>
                <!-- Job Category Listing End -->
            </div>
            <!--?  Right content -->
            <div class="col-xl-8 col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="count mb-35">
                            <span>5432 Listings are available</span>
                            
                        </div>
                    </div>
                </div>
                <!--? Popular Directory Start -->
                <div class="popular-directorya-area fix">
                        <div class="row">
                        {{#listAll}}
                            <div class="col-lg-6">
                                <!-- Single -->
                                <div class="properties properties2 mb-30">
                                    <div class="properties__card">
                                        <div class="properties__img overlay1">
                                            <a href="#"><img src="/assets/img/gallery/properties3.png" alt=""></a>
                                            <div class="img-text">
                                                <span>{{giftSold}}&nbsp;sold</span>
                                            </div>
                                            <div class="icon">
                                                <img src="/assets/img/gallery/categori_icon1.png" alt=""> 
                                            </div>
                                        </div>
                                        <div class="properties__caption">
                                            <h3><a href="/gift/detail/{{giftId}}">{{giftBrand}}&nbsp;{{giftName}}</a></h3>
                                            <p>₩{{giftPrice}}</p>
                                        </div>
                                        <div class="properties__footer d-flex justify-content-between align-items-center">
                                            <div class="restaurant-name">
                                                <img src="/assets/img/gallery/restaurant-icon.png" alt="">
                                                <h3>{{giftCategory}}</h3>
                                            </div>
                                            <div class="heart">
                                                <img src="/assets/img/gallery/heart1.png" alt="">
                                                <!-- 위시리스트 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/listAll}}
                        </div>
                </div>
                <div>
                <hr />
                </div>
                <button type="button" onclick="location.href='/gift/write'" class="button button-contactForm btn_1 boxed-btn"
                            >상품 등록</button>
                <!--? Popular Directory End -->
                <!--Pagination Start  -->
                <div class="pagination-area text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start " id="myDIV">
                                            <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-left"></span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination End  -->
            </div>
        </div>
    </div>
</div>
<!-- listing-area Area End -->

{{>layout/footer}}